.page {
  overflow-y: scroll;
}
.header {
  width: 80vw;
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow-y: scroll;
}

.lives {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.favourites:hover {
  background-color: #696969; /* Green */
  color: white;
}
